# IDE files
.vscode/

# OS Rubbish
**/*.DS_Store
**/*Thumbs.db

# Build dirs
Patch Files/
Tools/
Test Clients/
Utilities/

# Dev dirs
Libraries/

# Library Format Type (C#) (Tools)
src/Utils/libType/.*/
src/Utils/libType/libType/[Bb]in/
src/Utils/libType/libType/[Oo]bj/
src/Utils/libType/libType/libType.sln.DotSettings.user

# Library Format Type (C++) (Game)
src/Utils/libTypepp/.*/
src/Utils/libTypepp/cmake-build-*/

# AutoPatcherAdmin
src/Utils/AutoPatcherAdmin/.*/
src/Utils/AutoPatcherAdmin/[Bb]in/
src/Utils/AutoPatcherAdmin/[Oo]bj/
src/Utils/AutoPatcherAdmin/AutoPatcherAdmin.sln.DotSettings.user

# Patcher
src/Utils/Patcher/.*/
src/Utils/Patcher/[Bb]in/
src/Utils/Patcher/[Oo]bj/
src/Utils/Patcher/Patcher.sln.DotSettings.user

# Library Editor
src/Utils/LibraryEditor/.*/
src/Utils/LibraryEditor/[Bb]in/
src/Utils/LibraryEditor/[Oo]bj/
src/Utils/LibraryEditor/LibraryEditor.sln.DotSettings.user

# Level Editor
src/Utils/LevelEditor/.*/
src/Utils/LevelEditor/[Bb]in/
src/Utils/LevelEditor/[Oo]bj/
src/Utils/LevelEditor/LevelEditor.sln.DotSettings.user

# Level Object Editor
src/Utils/LevelObjectEditor/.*/
src/Utils/LevelObjectEditor/[Bb]in/
src/Utils/LevelObjectEditor/[Oo]bj/
src/Utils/LevelObjectEditor/LevelObjectEditor.sln.DotSettings.user

# qdLibBuilder (Quick and Dirty Library Builder - macOS cli lib manager)
# This tool will be deprecated when the new library manager is finished
src/Utils/qdLibBuilder/.*/
src/Utils/qdLibBuilder/[Bb]in/
src/Utils/qdLibBuilder/[Oo]bj/
src/Utils/qdLibBuilder/qdLibBuilder.sln.DotSettings.user

# SFML Game
src/2D/.*/
src/2D/cmake-build-*/